<table class="table align-middle table-bordered">
    <thead class="table">
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Olho</th>
            <th scope="col">Esférico</th>
            <th scope="col">Cilíndrico</th>
            <th scope="col">Eixo</th>
            <th scope="col">Adição</th>
            <th scope="col">Observações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10/03/2024</td>
            <td>OD</td>
            <td>-2.50</td>
            <td>-0.50</td>
            <td>180°</td>
            <td>+2.00</td>
            <td>Uso constante</td>
        </tr>
        <tr>
            <td>10/03/2024</td>
            <td>OE</td>
            <td>-2.00</td>
            <td>-0.25</td>
            <td>170°</td>
            <td>+2.00</td>
            <td>Uso constante</td>
        </tr>
    </tbody>
</table>
